.body{
    background-image: url("https://preview.redd.it/ctrqh0h0lcg91.jpg?width=3840&format=pjpg&auto=webp&s=5d6f35bf7235066f300862b77241ac308e791524");
    background-size: cover;
    background-repeat: no-repeat;
    height: 105vh;
    margin: -1vh;
}
.Div{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: absolute;
    width: 100vh;
    margin-left: 45vh ;
    margin-top: 1vh;
    
}
.Div1{
    gap: 10vh;
    margin-top: 25vh;
    margin-left:10vh ;
    display: flex;
}
.Div1 div{
    display: flex;
    flex-direction: column;
}
.Div h1{
    color: white;
    font-size: 90px;
} 
.Input{
    border:none;
    width: 36vh;
    height: 5vh;
    text-align: center;
    margin: 0.2vh;
    border-radius: 6px;
}
.Post{
    border-radius: 6px;
    width: 16vh;
    height: 3.5vh;
    margin-left:42vh ;
    margin-top: 5vh ;
    background-color: white;
    border-radius: 6px;
    border: none;
}
.button{
    color: white;
    background-color: transparent;
    border: none;
    margin: 1vh;
    background-color: none;
    border-radius: 6px;
}
.title{
    color: white;
    margin-left: -32vh;
    font-size: 2vh;
}
.DIVV{
    width: 100vh;
    height: auto;
    background-color: black;
}