@import url("./header.css");
.startButton{
    width: 20vh;
    height: 20vh;
    border-radius: 60px;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    gap: 20vh;
    padding-top:1vh ;
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    background-size: 200%;
}
.button1{
    width: 60vh;
    height: 40vh;
    margin: 200px;
    border: 10px solid #3aaef0;
    border-radius: 10%;
}
.button2{
    width: 60vh;
    height: 40vh;
    margin: 200px;
    border: 10px solid #e73929;
    border-radius: 10%;
}
.greenImg{
 border: 10px solid green;
}
.redImg{
    border:  10px solid red;
}
.quiz-res-div{
    gap: 10px;
    justify-content: center;
    text-align: center;
    display: flex;
}
.woime{
    text-align: center;
    justify-content: center;
    font-size: 5vh;
}
.quiz1{
    background-color: transparent;
    width: 10vh;
    height: auto;
}
.Input{
    border:none;
    width: 36vh;
    height: 5vh;
    text-align: center;
    margin: 0.2vh;
    border-radius: 6px;
}
.quiz_name-1{
    color: #3aaef0;
    margin-top: -17vh ;
    font-size: 5vh;
}
.quiz_name-2{
    color: #e73929;
    margin-top: -17vh ;
    font-size: 5vh;
}
.div{
    justify-content: center;
    text-align: center;
    gap: 10vh;
    background-image: url(https://wallpapers.com/images/hd/new-year-party-decorations-background-6x5p2fdximgcn3p0.jpg);
    background-repeat: no-repeat;
    background-size: cover  ;
    height: 100%;
    width: 195vh;
    margin-left: -1vh;
    margin-top: -1vh;
    position: absolute;
}
.div h1{
    font-size: 10vh;
    color: #FFFF00;
}
.div p{
    font-size: 7vh;
    color: white;
}
.div div{
    font-size: 7vh;
    color: white;
}
.div button{
    width: 30vh;
    height: 6vh;
    color: white;
    margin-top: 10vh;
    background-image: url(https://wallpapers.com/images/hd/new-year-party-decorations-background-6x5p2fdximgcn3p0.jpg);
}