.HeaderDiv {
    display: flex;
    width: 90vh;
    height: 10vh;
    background-color: transparent;
    justify-content: center;
    text-align: center;
    margin-left: 50vh ;
    margin-top: 3vh;
    gap: 40px;
}
.quiz{
    width: 31vh;
    height: 16vh;
    margin-top: -3vh;
    margin-left: -8vh;
}
.searchInput{
    width: 30vh;
    height: 3vh;
    border: none;
    background-color: transparent;
    border-radius: 9px;
}
.searchButton{
    width: 5vh;
    height: 3vh;
    border: none;
    background-color: transparent;
}
.CreateQuiz{
    width: 5vh;
    height: 3vh;
    margin-top: 1.7vh;
    border-radius: 9px;
    background-color: transparent;
}
.inputDiv{
    border: 1px solid black;
    border-radius: 9px;
    margin-top: 3vh;
    height: 3vh;
}